body {
    font-family: "Roboto", sans-serif;
    background-color: aquamarine;
}

header {
    background-color: antiquewhite;
}

#sub {
    background-color: aqua;
    text-align: right;
    margin-right: 20px;
}

#search {
    background-color: rgb(216, 183, 248);   
}

#nav {
    background-color: rgb(253, 177, 177);
}

#content {
    background-color: rgb(253, 206, 145);
}

#featured {
    background-color: rgb(214, 184, 226);
}

#more {
    background-color: rgb(196, 236, 247);
}

footer {
    background-color: rgb(108, 108, 255);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo, .search-box, .account-name, .cart-icon {
    display: inline-block;
}

.logo {
    background-color: aquamarine;
}

.search-box {
    background-color: brown;
}

.account-name {
    background-color: blueviolet;
}

.cart-icon {
    background-color: blue;
}