.category-buttons button {
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Custom button style */
.btn-outline-secondary {
    background-color: #95DBAD;
    border-color: #95DBAD;
    color: #000000;
  }
  
  .btn-outline-secondary:hover {
    background-color: #261d39;
    color: #fff;  /* Change text color to white on hover */
    border-color: #261d39;
  }
  
.category-buttons-nav {
    margin-top: -20px; /* Adjust the value as needed (e.g., 20px, 30px, etc.) */
    margin-bottom: -20px;
}

.equal-width {
    width: 139px; /* Adjust width as needed */
}

